[Unit]
Description=AlphaSOC Network Flight Recorder
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nfr start
Restart=always

[Install]
WantedBy=multi-user.target
